<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" href="css/pure.css" >
    <link rel="stylesheet" href="css/grids-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <title>Hello</title>

    <!-- from http://thisinterestsme.com/google-maps-api-location-picker-example/ -->
    <style type="text/css">
          #map{ width:700px; height: 500px; }
        </style>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

</head>
<body>

<div class="custom-wrapper pure-g" id="menu">
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu">
            <a href="#" class="pure-menu-heading custom-brand">Map Refuge</a>
            <a href="#" class="custom-toggle" id="toggle"><s class="bar"></s><s class="bar"></s></a>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu pure-menu-horizontal custom-can-transform">
            <ul class="pure-menu-list">
            </ul>
        </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <div class="pure-menu pure-menu-horizontal custom-menu-3 custom-can-transform">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#charityListing" class="pure-menu-link">Charity Listing</a></li>
                <li class="pure-menu-item"><a href="#myCharityProfile" class="pure-menu-link">My Charity Profile</a></li>
                <li class="pure-menu-item"><a href="#logout" class="pure-menu-link">Logout</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/mymenu.js"></script>

<style>
.main {
    padding: 2em;
    color: black;
}
</style>

<div class="main" id="portal"> <!-- this is populated through JS -->

    <form class="pure-form pure-form-stacked"  action="http://localhost:8080/charityFacade/register" id="registerForm" >
    <fieldset>
        <legend>Register Your Charity</legend>

        <label for="charity_name">Charity Name</label>
        <input name="charity_name" id="charity_name" placeholder="Charity Name">

        <h1>Select your charity's location!</h1>
        <!--map div-->
        <div id="map"></div>
        <!--our form-->

        <label for="lat">Latitude</label>
        <input type="text" id="lat" readonly="yes" name="lat"><br>

        <label for="lng">Longitude</label>
        <input type="text" id="lng" readonly="yes" name="long">

        <label for="bio">About Your Organization</label>
        <textarea name="bio" id="bio" placeholder="Bio"></textarea>

        <label for="donation_request">Specific Donation Rquest</label>
        <textarea name="donation_request" id="donation_request" placeholder="Specific Donation Request"></textarea>

        <label for="total_capacity">Total Capacity</label>
        <input name="total_capacity" id="total_capacity" placeholder="Total Capacity">

        <label for="available_capacity">Available Capacity</label>
        <input name="available_capacity" id="available_capacity" placeholder="Available Capacity">

        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
    </form>
</div>


<script id="login-template" type="text/x-handlebars-template">
   <form class="pure-form pure-form-stacked" id="loginForm">
    <fieldset>
        <legend>Login</legend>

        <label for="username">Username</label>
        <input id="username" placeholder="Username">
        <span class="pure-form-message">This is a required field.</span>

        <label for="password">Password</label>
        <input id="password" type="password" placeholder="Password">

        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
    </fieldset>
    </form>
</script>

<script id="home-template" type="text/x-handlebars-template">
    <h1>Welcome to Map Refuge!</h1>
    <a href="#myCharityProfile"><b>Build</b> your profile.</a>  <br>
    <a href="#charityListing"><b>Browse</b> other charities.</a>  <br>
    <a href="#tbd"><b>View</b> our homelessness data.</a>  <br>
</script>

<script id="charity-profile-template" type="text/x-handlebars-template">
    TODO profile
</script>

<script id="charity-listing-template" type="text/x-handlebars-template">
    TODO listing
</script>

<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
            {{body}}
        </div>
    </div>
</script>

<script type="text/javascript" src="js/map.js"></script>

</body>
</html>